<h2 class="m-2 dash-title">Your Blog Posts</h2>
<div class="dash-container container">
    <div class="my-posts">
        {{#if logged_in}}
            {{#if blogPosts}}
                {{#each blogPosts}}
                    <div data-id={{this.id}} class="m-3 p-3 mini-post d-flex justify-content-between">
                        <p class="mb-0">{{this.title}}</p>
                        <p class="mb-0">{{formatTime this.updatedAt}}</p>
                    </div>
                {{/each}}
            {{else}}
                <h3 class="text-center">NO BLOG POSTS</h3>
            {{/if}}
        {{else}}
            <h3 class="text-center">LOG IN TO VIEW YOUR BLOG POSTS</h3>
        {{/if}}
        
    </div>
</div>

<div id="confirmModal" class="modal">
  <div class="modal-content">
    <p>Are you sure you want to delete this post?</p>
    <p>All of its comments will be deleted as well.</p>
    <div>
        <button id="confirmYes">Yes, delete it</button>
        <button id="confirmNo">No, keep it</button>
    </div>
    
  </div>
</div>

<div class="new-post-container d-none">
  <form class="form login-form add-post-form m-4 p-3">
    <h4 class="form-title">New Blog Post</h4>
    <div class="form-group m-3">
        <label for="post-title">Title:</label>
        <input class="form-control" type="text" id="post-title" />
    </div>
    <div class="form-group m-3">
        <label for="post-body">Body:</label>
        <textarea class="form-control" rows="5" id="post-body"></textarea>
    </div>
    <div class="form-group m-3 d-flex justify-content-between">
        <button class="btn py-2 px-3" id="create-post">Create Post</button>
        <button class="btn py-2 px-3" id="cancel-create">Cancel</button>
    </div>
  </form>
</div>

{{#if logged_in}}
    <button id="add-post">Create Blog Post +</button>
{{/if}}

<script src="/js/dashboard.js" type="module"></script>
