{{#if blogPosts}}
{{#each blogPosts}}
        <div class="blog-comment-container">
        <div data-id={{this.id}} class="m-3 mb-1 full-post">
            <div class="p-2 post-header d-flex justify-content-between">
                <p class="mb-0">{{this.title}}</p>
                <div class="spacer"></div>
                <p class="mb-0">Posted by {{this.user.name}} on {{formatDate this.updatedAt}}</p>
            </div>
            <div class="post-body p-1">
                <p class="mb-0 p-2">{{this.body}}</p>
                <div class="d-flex body-buttons justify-content-between">
                    <button class="view-replies m-2">Comments</button>
                    <button class="reply-button m-2">Reply</button>
                </div>
                
            </div>
            <div class=" login-form m-3 new-comment-container d-none">
                <form class="form mb-0 p-3 pb-2">
                    <div class="form-group">
                        <label>Enter comment below:</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <div class=" pt-3 comment-buttons d-flex justify-content-between">
                        <button class="post-comment">Post Comment</button>
                        <button>Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="m-3 mt-0 comments-container full-post d-none">
            <div class="comments-container-header p-2">
                <p class="mb-0">Comments: </p>
            </div>
            {{#if this.comments}}
                {{#each this.comments}}
                    <div class="p-0 m-3 single-comment-container" data-id={{id}}>
                        <div class="px-2 comment-header d-flex justify-content-between">
                            <p class="mb-0">{{user.name}}</p>
                            <p class="mb-0">{{formatDate createdAt}}</p>
                        </div>
                        <div class="p-1 comment-body d-flex">
                            <p class="mb-0 pr-4">{{body}}</p>
                            {{#if (eq user.id ../../user_data.id )}}
                                <button class="delete-comment btn-danger">🗑</button>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <h3 class="text-center p-2">NO COMMENTS</h3>
            {{/if}}
        </div>
        </div>
    {{/each}}
    
{{else}}
    <h3 class="text-center">NO BLOG POSTS</h3>
{{/if}}

<script src="/js/homepage.js" type="module"></script>